<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta charset="UTF-8">
    <title>파일 확장자 차단</title>
</head>
<body>
<div>
<!--    <p th:text="'Current time: ' + ${currentDateTime}"></p>-->
</div>

<h2>
    고정 확장자
</h2>
<ul>
    <li th:each="item : ${notCustomExtensions}" >
        <label>
            <span th:text="${item.name}"></span>
            <input type="checkbox" th:checked="${item.isChecked()}" th:value="${item.name}"  onchange="sendChangeCheckStatusRequest(this.value)">
        </label>
    </li>
</ul>
<h2>
    커스텀 확장자
    <form th:action="@{/extensions/custom}" method="post">
            <input type="text" name ="name" placeholder="빈칸">
            <button type="submit" >추가</button>
    </form>
</h2>
<li th:each="item : ${customExtensions}">
    <label>
        <span th:text="${item.name}"></span>
        <button th:value = "${item.name}" onclick="sendDeleteExtensionRequest(this.value)">X</button>
    </label>
</li>

<script>
    $(document).ready(function(){
        $("form").on('submit', function(event) {
            event.preventDefault(); // 폼의 기본 submit 동작을 막음
            var formData = $(this).serialize(); // 폼 데이터를 직렬화

            $.ajax({
                url: $(this).attr('action'),
                type: $(this).attr('method'),
                data: formData,
                success: function(response) {
                    location.reload();
                },
                error: function(error) {
                    alert(JSON.stringify(error.responseText));
                    console.error(error.responseText);
                    location.reload();
                }
            });
        });
    });
    function sendChangeCheckStatusRequest(name) {
        const formData = new FormData($('form')[0]);
        formData.append("notCustomExtension",name)
        $.ajax({
            url: '/extensions/notCustom',
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function(response) {
                console.log(response);
            },
            error: function(error) {
                console.error(error.responseText);
            }
        });
    }
    function sendDeleteExtensionRequest(name) {
        const formData = new FormData($('form')[0]);
        formData.append("extensionToDelete",name)
        $.ajax({
            url: '/extensions/delete',
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function(response) {
                console.log(response);
                location.reload();
            },
            error: function(error) {
                console.error(error);
            }
        });
    }
</script>
</body>
</html>